@model WebApplication2_MVC.Models.Product

        <table align="center" border="2" width="400">
            <tr>
                <td><img src="@Url.Content(Model.image)" width="350" height="150" /></td>
                <td>
                    <table>
                        <tr>
                            <td>ID:</td>
                            <td>@Model.ID</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>@Model.Name</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table><br />
    


